{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui text container">
      <h1>Welcome to Entities Annotator !</h1>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
          {%- for page in words.iter_pages() %}
            {% if page %}
              {% if page != words.page %}
                <li class="page-item"><a class="page-link" href="{{ url_for('index', page=page, limit=words.per_page) }}">{{ page }}</a></li>
              {% else %}
                <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
              {% endif %}
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            {% endif %}
          {%- endfor %}
          </ul>
        </nav>
        <div>
            {% for word in words.items %}
              <a class="badge
              {% if word.categories %}cat-{{word.categories.name}}-border{% else %}badge-info{% endif %}"
                 href="{{url_for("word", word_id=word.word_id)}}">
                  {{word.word_text}}
              </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
